Button {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

Button:hover {
    -fx-border-color: #3498db;
}

Button#clear {
    -fx-background-color: #e74c3c;
    -fx-text-fill: #FFFFFF;
}

TextField {
    -fx-text-fill: #2c3e50;
    -fx-font-size: 23px;
}